@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Heebo", sans-serif;
    color: rebeccapurple;
    text-align: center;
}

.header{
    display: block;
    margin: 2rem;
}

h1{
    padding: 4rem 0rem 2rem 0rem;
}

.container {
    display: block;
}

.content-table {
    max-width: 80%;
    border-collapse: collapse;
    border-spacing: 2rem;
    font-size: 1rem;
    width: 100%;
    /* padding: 0 50px 0 50px; */
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

.content-table th,
.content-table td {
    padding: 12px;
    font-weight: 700;
    border: 2px solid rebeccapurple;
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.content-table th {
    background-color: rebeccapurple;
    color: white;
    border: 2px solid white;
    border-left: rebeccapurple;
}

.content-table td{
    font-size: large;
}

.content-table thead tr th:nth-child(1){
    background-color: white;
    color: rebeccapurple;
    border-color: rebeccapurple;
}

.content-table th:first-child {
    border-left: 2px solid rebeccapurple;
    text-transform: uppercase;
}

.content-table .giving-set-images th{
    background-color: white;
    border: 0px solid white;
    padding: 0rem 0.7rem;
}

.content-table .giving-set-images img{
    display: block;  
}

.content-table thead .giving-set-images th:last-child{
    border-right: 0px solid white;
}

.content-table thead tr th:nth-child(1){
    border-top: white;
    border-right: white;
}

.content-table thead tr th:last-child{
    border-right: 2px solid rebeccapurple;
}

.content-table .givingsets th:nth-child(1){
    border-left: white;
}

.content-table thead .givingsets th:nth-child(2){
    background-color: #EF4350;
    border: 2px solid rebeccapurple;
}

.content-table thead .givingsets th:nth-child(3){
    background-color: #27AAE1;
    border: 2px solid rebeccapurple;
}

.content-table thead .givingsets th:nth-child(4){
    background-color: #8DC63F;
    border: 2px solid rebeccapurple;
}

.content-table thead .givingsets th:nth-child(5){
    background-color: white;
    color: rgb(17, 17, 17);
    border: 2px solid rebeccapurple;
}

.footer {
    font-weight: 700;
    font-size: small;
    display: block;
    padding-bottom: 4rem;
}

.footer p {
    padding: 1rem;
    margin: auto;
    max-width: 70%;
    min-width: 30%;
}

.indicative {
    margin: auto;
    max-width: 40%;
    min-width: 300px;
    background-color: rebeccapurple;
    color: white;
    border-radius: 2rem;
    text-align: center;  
}

.indicative h3 {
    padding: 1rem;
}

.nowrap{
    white-space: nowrap;
}

.container-table2 {
    padding: 1.5rem 0rem 3rem 0rem;
}

.container-table2 .content-table {
    table-layout: auto;
}

.container-table2 td{
    text-align: left;
}

.content-table thead .table2title th:nth-child(1) {
    background-color: rebeccapurple;
    color: white;
    text-align: left;
    /* border-top: 2px solid white; */
    border-bottom: 2px solid white;
    padding: 0.2rem;
}

.rockfieldlogo{
    padding-bottom: 3rem;
    width: 250px;
}

@media (max-width: 800px) {
   
    .content-table {
        table-layout: auto;
        max-width: 90%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2{
        font-size: 1rem;
    }
    
    .container th,
    .container-table2 td{
        font-size: 0.6rem;
    }

    .container td,
    .container-table2 th {
        padding: 0rem;
        font-size: 0.9rem;
    }

    .container th,
    .container td {
        white-space: nowrap;
        padding: 0.5rem;
    }

    .container tbody th:first-child {
        width: 1%;
        
    }

    .container tbody th:first-child,
    .container .givingsets th {
        white-space: normal;
        
    }

    .content-table thead .givingsets th{
        font-size: 1rem;
    }

    .rockfieldlogo{
        width: 60%;
        padding-bottom: 3rem;
    }

    .footer p{
        font-size: .6rem
    }

    .content-table .giving-set-images th{
        padding: 0rem;
        height: 50px;
    }

    .content-table .giving-set-images img{
        transform-origin: center center; /* Set the rotation origin */
        transform: rotate(90deg) scale(1.5); /* Rotate and scale the image */
    }
}

/* .feed, .givingset {
    background-color: rebeccapurple;
    color: white;
    padding: 1rem;
} */

/* .content-table thead tr {
    background-color: rebeccapurple;
    border: 2px solid white;
} */